<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{blogPost.title}}</h5>
     <div class="card-title">Created by: {{blogPost.user.username}} on: {{ format_date blogPost.createdAt}}</div>
    <p class="card-text">{{blogPost.contents}}</p>
    {{#each comment as |comment| }}
         <div class="card-title">Created by: {{blogPost.comment.user.username}} on: {{ format_date blogPost.comment.createdAt}}</div>
    <p class="card-text">{{comment.contents}}</p>
    {{/each}}
  </div>
</div>

<script src="./js/singleblogpost.js"></script>