<form>
  <div class="form-group">
    <label for="blogTitle"><h2>Title</h2></label>
    <input type="text" class="createBlog" id="blogTitleInput">
  </div>
  <div class="form-group">
    <label for="blogContent"><h2>Content</h2></label>
    <textarea class="createBlog" id="blogContentInput" rows="3"></textarea>
  </div>
  <button id="submitBlog">Submit</button>
</form>

{{#each myBlogs as |myBlog| }}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{myBlog.title}}</h5>
     <div class="card-title">Created by: {{myBlog.user.username}} on: {{ format_date myBlog.createdAt}}</div>
    <p class="card-text">{{myBlog.contents}}</p>
    {{#each myBlog.comments }}
         <div class="card-title">Created by: {{user.username}} on: {{ format_date createdAt}}</div>
    <p class="card-text">{{contents}}</p>
    {{/each}}
    </div>
    </div>
{{/each}}




<script src="./js/dashboard.js"></script>