{{#each blogPosts as |blogPost|}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <a href="/api/blogpost/{{blogPost.user.id}}"><h5 id="singleBlogPost" class="card-title">{{blogPost.title}}</h5></a>
    <div class="card-title">Created by: {{user.username}} on: {{ format_date blogPost.createdAt}}</div>
    <p class="card-text">{{blogPost.contents}}</p>
  </div>
</div>
{{/each}}

<script src="./js/singleblogpost.js"></script>

